*{
    margin:0;
    padding: 0;
}

.userinput{
    width: 200px;
    position: absolute;
    top: 200px;
    left:20%;
    right: 20%;

}

.userinput h2{
    margin:10px;
    padding:20px;
    color: rgb(27, 136, 214);
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
}
.burger{
    width:40px;
    height: 40px;
    margin: 30px;
   float:right;
}
.burger .line1{
    width:30px;
    height: 3px;
    background:rgb(27, 136, 214);
    margin-top:10px;
    border-radius: 4px;
}

.burger .line2 {
    width: 30px;
    height: 3px;
    background: rgb(27, 136, 214);
    margin-top: 5px;
    border-radius: 4px;
}

.burger .line3 {
    width: 30px;
    height: 3px;
    background: rgb(27, 136, 214);
    margin-top: 5px;
    border-radius: 4px;
}
.siderbar{
    background-color:rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    transform: translate(-100%);
    transition: 0.5s ease-in-out;
}
.courselinks{
    background-color: transparent;
    box-shadow: 0 0 10px 2px #fff;
    width:200px;
    height: 100vh;
    display: grid;
    justify-content: center;
    text-align: center;
    transform: translate(-100%);
    transition: 0.10s ease-in;
}
.courselinks h2{
    color:#fff;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 23px;
    text-shadow: 0 0 10px #000;
    text-align: center;
}
.courselinks ul{
    margin-top: -60px;
}
.courselinks li {
    list-style-type: none;
    line-height: 50px;
    padding:2px 50px;
    background-color: transparent;

}
.courselinks li:hover{
    background-color: #fff;
    transition: 0.4s ease-in-out;
    border-radius: 12px;
}
.courselinks li a{
    color:rgb(27, 136, 214);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

.closeside{
    width:100px;
    position: absolute;
    top: 0;
    right: -50px;

}
.closeside span{
    color:#fff;
    font-size: 30px;
    cursor: pointer;
}
.log{
    width:100px;
    float: left;
    margin: 20px;
}
.log li{
    list-style-type: none;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border:2px solid rgb(27, 136, 214);
    border-radius: 5px;
}
.log li:hover{
    background-color: black;
    transition: 0.4s ease-in-out;
}

li .logout{
    text-decoration: none;
    color:rgb(27, 136, 214);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-transform: capitalize;
}



@media only screen and (min-width: 480px) {
    .courselinks ul {
            margin-top: -50px;
        }
        .courselinks{
            width: 260px;

        }
        .courselinks li {
            list-style-type: none;
            line-height: 50px;
            padding:2px 88px;
            background-color: transparent;

}
.courselinks h2 {
    font-size: 24px;
}
.burger {
    width: 50px;
    height: 40px;
    margin: 30px;
    float: right;
}
.burger .line1 {
    width: 40px;
    height: 4px;
    background: rgb(27, 136, 214);
    margin-top: 10px;
    border-radius: 4px;
}
.burger .line2 {
    width: 40px;
    height: 4px;
    background: rgb(27, 136, 214);
    margin-top: 6px;
    border-radius: 4px;
}

.burger .line3 {
    width: 40px;
    height: 4px;
    background: rgb(27, 136, 214);
    margin-top: 6px;
    border-radius: 4px;
}
.closeside span {
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}
.userinput {
    width: 300px;
    position: absolute;
    top: 200px;
    left: 40%;
    right: 40%;
}

}